body {
  margin: auto;
  padding: auto;
  font-family: sans-serif;
  color: white;
  width: 500px;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

* {
  font-size: 24px
}

h1 {
  color: whitesmoke;
  background-color: #69a9d3;
  border-radius: 3px;
  padding: 15px;
}

.add-item-box {
  background-color: #69a9d3;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  padding: 5px;
}

.add-item-box svg {
  margin: 5px;
}

.add-item-input {
  border: none;
  box-sizing: border-box;
  background: transparent;
  color: white;
  width: 100%;
  height: 30px;
}

input::placeholder {
  color: white;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
  border-bottom: 1px #69a9d3 solid;
}

.item-name {
  cursor: pointer;
  color: #69a9d3;
}

.item-name svg {
  margin-left: 5px;
  margin-right: 5px;
}

.quantity {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 50px;
  min-width: 70px;
  justify-content: space-between;
  color: #69a9d3;
}

.item-quantity {
  margin-left: 10px;
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
}

button {
  background: transparent;
  border: 0px;
}

button:hover {
  cursor: pointer;
  border: 0px;
}

button:focus {
  border: 0px;
}

.total {
  color:  #69a9d3;
}

.remove {
  margin-left: 25px;
}